################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MascotasParlantes/.vs/MascotasParlantes/v16
